.hero {
	margin-top: 100px;
}
.hero__subtitle {
	font-size: 31px;
}
.hero__name {
	font-size: 65px;
	max-width: 590px;
	margin-top: 20px;
}
.hero__title {
	-webkit-background-clip: text !important;
	-webkit-text-fill-color: transparent;
	background: linear-gradient(
		180deg,
		rgb(177, 179, 189) 0%,
		rgba(177, 179, 189, 0.25) 100%
	);
	margin-top: 20px;
	font-size: 90px;
	text-align: center;
}

.hero__location {
	font-size: 31px;
	margin-top: 20px;
	color: #b1b3bd;
	text-align: end;
}

@media (max-width: 768px) {
	.hero__info {
		display: flex;
		align-items: unset;
	}
	.hero__title,
	.hero__location {
		text-align: start;
	}
}

@media (max-width: 672px) {
	.hero__info {
		display: block;
	}
	.hero__title {
		font-size: 70px;
	}
	.hero__location {
		font-size: 55px;
	}
}

@media (max-width: 425px) {
	.hero {
		margin-top: 100px;
	}
	.hero__subtitle,
	.hero__location {
		font-size: 20px;
	}
	.hero__name {
		font-size: 44px;
	}
	.hero__title {
		font-size: 64px;
	}
}

@media (max-width: 320px) {
	.hero__title {
		font-size: 56px;
	}
	.hero__name {
		font-size: 36px;
	}
}
